<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @service.title %>
</p>

<p>
  <strong>Person:</strong>
  <%= @service.person.name %>
</p>

<p>
  <strong>Prince:</strong>
  <%= @service.prince %>
</p>

<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
